
    /* Primary colors for BYU */
  .bg-primary {
    background-color: #006aff !important; /* BYU Blue */
  }
  
  .text-primary {
    color: #006aff !important; /* BYU Blue */
  }
  
  .btn-secondary {
    background-color: #ffffff !important; /* Black */
    border-color: #ffffff !important;
  }
  
  a.text-white:hover {
    text-decoration: underline;
  }
  
  footer .border-white {
    border-top: 1px solid #ffffff;
  }
  
  hr.border-white {
    border-color: #ffffff;
  }
  #image-container {
    margin-top: 50px; /* Adjust the value as needed */
} 