.body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* Light grey background for contrast */
}

/* Primary colors for BYU */
.bg-primary {
  background-color: #002e6d !important; /* BYU Blue */
}

.text-primary {
  color: #002e6d !important; /* BYU Blue */
}

/* Secondary button customization */
.btn-secondary {
  background-color: #000000 !important; /* Black */
  border-color: #000000 !important;
}

a.text-white:hover {
  text-decoration: underline;
}

footer .border-white {
  border-top: 1px solid #ffffff;
}

hr.border-white {
  border-color: #ffffff;
}